.tstyle {
  margin-left: 180px;
  margin-right: 180px;
}

.gtitle {
  text-align: center;
  font-weight: bolder;
  color: rgb(250, 250, 250);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 7%;
}
thead {
  background-color: black;
  color: rgb(238, 168, 168);
}
body {
  background-image: url(./images/pexels-pixabay-264636.jpg);
  background-size: cover;
}

tbody {
  background-color: rgb(121, 199, 173);
}

.bt {
  margin-top: 1%;
  margin-left: 47.5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.gtable {
  margin-top: 2.2%;
}
